In [10]:
from math import *
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
from datetime import timedelta,datetime
import time
import scipy.optimize as optimize
pi=np.pi

In [2]:
myfont = mpl.font_manager.FontProperties(fname='C:/Windows/Fonts/msyh.ttc')  
mpl.rcParams['axes.unicode_minus'] = False

In [5]:
def ang(degree,minute=0,second=0):
    return (degree+minute/60.0+minute/3600.0)*pi/180.0

In [6]:
def rad(radian):
    return radian/pi*180.0

In [39]:
def cal(beijingTime):
    d=294.0
    longitude=(116.0+23.0/60.0+29.0/3600.0)
    dafai=ang(39,54,26)

    LT=beijingTime+rad(ang(longitude-120))*4/60.0
    GMT=ang(longitude)*180/pi*4/60
    B=ang(360.0*(d-81.0)/365.0)
    LSTM=15.0*GMT
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=(4.0*(LSTM-longitude)+EOT)/60
    LST=LT+TC
    HRA=ang(15*(LST-12))
    
    fai=ang(23.45*sin(2*pi/365.0*(284+d)))
    
    e=np.arcsin(sin(fai)*sin(dafai)+cos(fai)*cos(dafai)*np.cos(HRA))
    H=3.0
    L=H/np.tan(e)
# print "GMT",GMT
# print "LST",LST
# print "TC",TC
# print "EOT",EOT
#    print "LSTM",LSTM
#    print "longitude",longitude
    return L

In [21]:
T=np.arange(9.0,15.0,0.1)
res=pd.Series(cal(T),index=T)
plt.plot(T,cal(T),c="black")
plt.xlabel(u"时间/小时",fontproperties=myfont)
plt.ylabel(u"影子长度/米",fontproperties=myfont)
plt.title(u"影子长度随时间变化曲线",fontproperties=myfont)
plt.show()

#2

In [603]:
def getLong(beijingTime,L,dafai=ang(39,54,26),H=3.0):
    d=107.0
    #d=126.96
    B=ang(360.0*(d-81.0)/365.0)
    EOT=9.87*np.sin(2*B)-7.53*np.cos(B)-1.5*np.sin(B)
    fai=ang(23.45*np.sin(2*pi/365.0*(284+d)))
    
    outrange=(np.sin(np.arctan(H/L))-np.sin(fai)*np.sin(dafai))/(np.cos(fai)*np.cos(dafai))
    return rad(np.arccos(outrange))-(beijingTime*15+EOT/4-300.0)

In [ ]:
def NgetLong(beijingTime,x,y,dafai=ang(39,54,26)):
    d=107.0
    B=ang(360.0*(d-81.0)/365.0)
    EOT=9.87*np.sin(2*B)-7.53*np.cos(B)-1.5*np.sin(B)
    fai=ang(23.45*np.sin(2*pi/365.0*(284+d)))
    outrange=(np.sin(np.arctan(H/L))-np.sin(fai)*np.sin(dafai))/(np.cos(fai)*np.cos(dafai))
    return rad(np.arccos(outrange))-(beijingTime*15+EOT/4-300.0)

In [419]:
ans=[]
for i in range(-90,90):
    ans.append([i,getLong(Time[0],L[0],i)])
ans

[[-90, nan],
 [-89, nan],
 [-88, 88.218260080762519],
 [-87, nan],
 [-86, nan],
 [-85, 238.12283898660829],
 [-84, nan],
 [-83, nan],
 [-82, nan],
 [-81, nan],
 [-80, nan],
 [-79, 238.58608886559745],
 [-78, nan],
 [-77, nan],
 [-76, nan],
 [-75, 99.952067892024871],
 [-74, nan],
 [-73, nan],
 [-72, nan],
 [-71, nan],
 [-70, nan],
 [-69, 97.42142435644972],
 [-68, nan],
 [-67, nan],
 [-66, 243.90154037730437],
 [-65, nan],
 [-64, nan],
 [-63, nan],
 [-62, nan],
 [-61, nan],
 [-60, 236.68881513246066],
 [-59, nan],
 [-58, nan],
 [-57, nan],
 [-56, 95.014184370614487],
 [-55, nan],
 [-54, 245.41912529672805],
 [-53, nan],
 [-52, nan],
 [-51, nan],
 [-50, 100.38629799950016],
 [-49, nan],
 [-48, nan],
 [-47, nan],
 [-46, nan],
 [-45, nan],
 [-44, 90.03082548251291],
 [-43, nan],
 [-42, nan],
 [-41, 238.53332634630351],
 [-40, nan],
 [-39, nan],
 [-38, nan],
 [-37, nan],
 [-36, nan],
 [-35, 238.13179410940265],
 [-34, nan],
 [-33, nan],
 [-32, nan],
 [-31, 99.664544271778425],
 [-30, nan],
 [-29, nan],
 [-28, nan],
 [-27, nan],
 [-26, nan],
 [-25, 97.985810573297798],
 [-24, nan],
 [-23, nan],
 [-22, 245.07458054302327],
 [-21, nan],
 [-20, nan],
 [-19, nan],
 [-18, nan],
 [-17, nan],
 [-16, 236.72059933612957],
 [-15, nan],
 [-14, nan],
 [-13, nan],
 [-12, 93.897983705696049],
 [-11, nan],
 [-10, 243.97771584466355],
 [-9, nan],
 [-8, nan],
 [-7, nan],
 [-6, 100.49084216001197],
 [-5, nan],
 [-4, nan],
 [-3, nan],
 [-2, nan],
 [-1, nan],
 [0, 91.516226033971151],
 [1, nan],
 [2, nan],
 [3, 239.00220135136718],
 [4, nan],
 [5, nan],
 [6, nan],
 [7, nan],
 [8, nan],
 [9, 237.74811272468034],
 [10, nan],
 [11, nan],
 [12, nan],
 [13, 99.314076565759692],
 [14, nan],
 [15, nan],
 [16, nan],
 [17, nan],
 [18, nan],
 [19, 98.485332053205951],
 [20, nan],
 [21, nan],
 [22, 246.43927547748737],
 [23, nan],
 [24, nan],
 [25, nan],
 [26, nan],
 [27, nan],
 [28, 236.80095305307486],
 [29, nan],
 [30, nan],
 [31, nan],
 [32, 92.580506550191018],
 [33, nan],
 [34, 242.76738418920374],
 [35, nan],
 [36, nan],
 [37, nan],
 [38, 100.54695900915458],
 [39, nan],
 [40, nan],
 [41, nan],
 [42, nan],
 [43, nan],
 [44, 92.778282611308626],
 [45, nan],
 [46, nan],
 [47, 239.53350963363189],
 [48, nan],
 [49, nan],
 [50, nan],
 [51, nan],
 [52, nan],
 [53, 237.42965611278927],
 [54, nan],
 [55, nan],
 [56, nan],
 [57, 98.895838972003233],
 [58, nan],
 [59, nan],
 [60, nan],
 [61, nan],
 [62, nan],
 [63, 98.924568232398613],
 [64, nan],
 [65, nan],
 [66, 248.0702593650858],
 [67, nan],
 [68, nan],
 [69, nan],
 [70, nan],
 [71, nan],
 [72, 236.92969059218498],
 [73, nan],
 [74, nan],
 [75, nan],
 [76, 90.99283255864799],
 [77, nan],
 [78, 241.73497237997208],
 [79, nan],
 [80, nan],
 [81, nan],
 [82, 100.55426502089928],
 [83, nan],
 [84, nan],
 [85, nan],
 [86, nan],
 [87, nan],
 [88, 93.872881704960946],
 [89, nan]]

###2 time and L

In [3]:
excel=pd.read_excel("data.xlsx")
L=np.sqrt(excel.x**2+excel.y**2).tolist()
Time=[]
for i in excel.time:
    Time.append(i.hour+i.minute/60.0)
Time

[14.7,
 14.75,
 14.8,
 14.85,
 14.9,
 14.95,
 15.0,
 15.05,
 15.1,
 15.15,
 15.2,
 15.25,
 15.3,
 15.35,
 15.4,
 15.45,
 15.5,
 15.55,
 15.6,
 15.65,
 15.7]

### test time and L

In [324]:
Time=[8,8.16667,9.333,9.5,9.8333]
L=[26.3,24.3,14.41,13.38,11.53]

In [615]:
plt.plot(excel.x,excel.y)
plt.xlim([0,2])
plt.ylim([0,0.62])

plt.show()

In [157]:
latitude=ang(np.arange(-90,90,0.1))
latitude

array([-1.57079633, -1.569051  , -1.56730567, ...,  1.56556034,
        1.56730567,  1.569051  ])

In [148]:
def plot(i,j):
    longitude=getLong(Time[i],L[i],latitude,j)
    plt.scatter(longitude,rad(latitude))

In [210]:
for i in range(len(Time)):
#    for j in np.arange(0.5,5,0.1):
        plot(i,3)
plt.show()

In [325]:
ii=0
jj=0
kk=3.0

In [332]:
def f(x):
    global ii,jj,kk
    return getLong(Time[ii],L[ii],x,kk)-getLong(Time[jj],L[jj],x,kk)

In [216]:
from scipy import optimize

array([-5.85906016])

In [336]:
stdmin=1
A=[]
init=[-5.86390081,25.05403324]
#init=[32,32]
for kkk in np.arange(1,4,0.1):
    kk=kkk
    ans=[]
    for iii in range(len(Time)):
        for jjj in range(iii+1,len(Time)):
            ii=iii
            jj=jjj
            ans.append([optimize.fsolve(f,init[0])[0],optimize.fsolve(f,init[1])[0]])
    ans=np.array(ans).T
    init[0]=ans[0].mean()
    init[1]=ans[1].mean()
    std=min(ans[0].std(),ans[1].std())
    
    if std<stdmin:
        stdmin=std
        A=[init[0],init[1],kk]
A

[28.342164568830945, 28.342164568830945, 21.999999999999975]

# new2

In [ ]:
fai=ang(23.45*sin(2*pi/365.0*(284+d)))
dafai=ang(39,54,26)

LT=beijingTime+rad(ang(longitude-120))*4/60.0
GMT=ang(longitude)*180/pi*4/60
B=ang(360.0*(d-81.0)/365.0)
LSTM=15.0*GMT
EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
TC=(4.0*(LSTM-longitude)+EOT)/60
LST=LT+TC
HRA=ang(15*(LST-12))

h=np.arcsin(sin(fai)*sin(dafai)+cos(fai)*cos(dafai)*np.cos(HRA))

sin(A)=cos(fai)*sin(HRA)/cos(h)

tan(A)=y/x

input longitude get latitude

In [280]:
def g(longitude):
    
    global x,y,beijingTime
    
    d=107.0
    A=np.arctan(y/x)
    fai=ang(23.45*sin(2*pi/365.0*(284+d)))

    LT=beijingTime+(longitude-120)*4/60.0
    GMT=ang(longitude)*180/pi*4/60
    B=ang(360.0*(d-81.0)/365.0)
    LSTM=15.0*GMT
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=(4.0*(LSTM-longitude)+EOT)/60
    LST=LT+TC
    HRA=ang(15*(LST-12))
    
    h=np.arccos(cos(fai)*np.sin(HRA)/np.sin(A))

    L=np.sqrt(x**2+y**2)
    H=L*np.tan(h)
    
    a=sin(fai)
    b=cos(fai)*np.cos(HRA)
    dafai=np.arcsin(np.sin(h)/np.sqrt(a**2+b**2))-np.arctan(b/a)
    
    return rad(dafai)

In [319]:
def h(H):
    
    global x,y,beijingTime
    
    d=107.0
    A=np.arctan(y/x)
    L=np.sqrt(x**2+y**2)
    fai=ang(23.45*sin(2*pi/365.0*(284+d)))
    h=np.arctan(H/L)
    HRA=np.arcsin(np.cos(h)*np.sin(A)/cos(fai))
    
    a=sin(fai)
    b=cos(fai)*np.cos(HRA)
    dafai=np.arcsin(np.sin(h)/np.sqrt(a**2+b**2))-np.arctan(b/a)
    
    B=ang(360.0*(d-81.0)/365.0)
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=EOT/60
    LST=rad(HRA)/15.0+12
    LT=LST-TC
    
    longitude=(LT-beijingTime)*60.0/4.0+120
    
    return [longitude,rad(dafai)]

In [320]:
h(2.1)

[77.062324664134934, -30.639377228537864]

In [269]:
x=np.array(excel.x)[0]
y=np.array(excel.y)[0]
beijingTime=np.array(Time)[0]

In [ ]:
L=np.sqrt(x[0]**2+[0]**2)
H=L*np.tan(e)

In [321]:
for i in range(len(Time)):
    x=np.array(excel.x)[i]
    y=np.array(excel.y)[i]
    beijingTime=np.array(Time)[i]
    ans=[]
    
    ans.append(h(2.1))
    plt.scatter(h(2.1)[0],h(2.1)[1])
    
plt.show()

#nnn2

In [ ]:
dafaiDH=L*(sin(fai)*cos(dafai)-cos(fai)*cos(HRA)*sin(dafai))/sin(h)**3
longitudeDH=-S*cos(dafai)*cos(fai)*sin(HRA)/sin(h)**3

# sundail

In [409]:
def sundial(longitude,i):
    M=0.5
    d=107
    beijingTime=Time[i]
    x=excel.x[i]
    y=excel.y[i]
    fai=ang(23.45*sin(2*pi/365.0*(284+d)))
    
    LT=beijingTime+(longitude-120)*4/60.0
    B=ang(360.0*(d-81.0)/365.0)
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=EOT/60
    LST=LT+TC
    HRA=ang(15*(LST-12))
    
    X=M*sin(HRA)
    
    A=atan(y/x)
    
    a=cos(HRA)
    b=-tan(fai)
    out=sin(HRA)*tan(A)/sqrt(a**2+b**2)
    if out<-1 or out >1:
        dafaiA="error"
    else:
        dafai=asin(out)-atan(b/a)
        dafaiA=rad(dafai)
        if dafaiA>90:
            dafaiA-=180
        elif dafaiA<-90:
            dafaiA+=180
#         if dafaiB>90 or dafaiB<-90:
#             dafaiB="error"
    
    h=np.arccos(np.sin(HRA)*cos(fai)/np.sin(A))
    
    a=sin(fai)
    b=cos(fai)*np.cos(HRA)
    
    out=np.sin(h)/np.sqrt(a**2+b**2)
    if out<-1 or out >1:
        dafaiB="error"
    else:
        dafaiB=rad(asin(out)-atan(b/a))
#         if dafaiB>90 or dafaiB<-90:
#             dafaiB="error"
        if dafaiB>90:
            dafaiB-=180
        elif dafaiB<-90:
            dafaiB+=180
    #print dafaiA,dafai
    
    return dafaiA,dafaiB

In [372]:
latitude=sundial(i,k)

0.426787941128 nan

In [413]:
ans=[]
latitude=0
for k in range(len(Time)):
    for i in np.arange(-180,180,2):
        A,B=sundial(i,k)
        if A!="error":
            plt.scatter(i,A,c="r")
        if B!="error":
            plt.scatter(i,B,c="b")            
        if A=="error" or B=="error":
            continue
        if np.abs(A-B)<100:
            ans.append([i,(A+B)/2.0])
plt.show()
ans=np.array(ans).T

In [399]:
plt.scatter(ans[0],ans[1])
plt.show()

#XY

In [571]:
def XY(theta,H,l,da):
    theta=ang(theta)
    d=107.0
    longitude=l
    dafai=ang(da)
    fai=ang(23.45*sin(2*pi/365.0*(284+d)))
    ans=0
    
    
    beijingTime=np.array(Time)
    LT=beijingTime+(longitude-120)*4/60.0
    #GMT=ang(longitude)*180/pi*4/60
    B=ang(360.0*(d-81.0)/365.0)
    #LSTM=15.0*GMT
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=(EOT)/60 #4.0*(LSTM-longitude)+
    LST=LT+TC
    HRA=ang(15*(LST-12))

    e=np.arcsin(sin(fai)*sin(dafai)+cos(fai)*cos(dafai)*np.cos(HRA))
    L=H/np.tan(e)

    #A=np.arcsin(cos(fai)*np.sin(HRA)/np.cos(e))
    A=np.arccos((np.sin(fai)*np.cos(dafai)+np.cos(fai)*np.sin(dafai)*np.cos(HRA))/np.cos(e))
    #A=atan(y/x)
    x=np.abs(H/np.tan(e)/np.sqrt(1+np.power(np.tan(A),2)))
    y=np.tan(A)*x
    
    mat=np.matrix([[np.cos(theta),np.sin(theta)],[-np.sin(theta),np.cos(theta)]])*np.matrix([x,y])
    x=np.array(mat[0])[0]
    y=np.array(mat[1])[0]
    
    x0=np.array(excel.x)
    y0=np.array(excel.y)
    ans=(np.sqrt(np.power((x0-x),2)+np.power(y0-y,2))).sum()
    
#     print "beijing",beijingTime
#     print "LST",(LST)
#     print "HRA",(HRA)
#     print "e",rad(e)
#     print "L",L
#     print "A",rad(A)
#     print "AA",rad(AA)
#     print "x",x
#     print "y",y
#     print "x0",x0
#     print "y0",y0
    
    return ans

In [569]:
XY(180, 0.80000000000000027, 40, 12)

beijing [ 14.7   14.75  14.8   14.85  14.9   14.95  15.    15.05  15.1   15.15
  15.2   15.25  15.3   15.35  15.4   15.45  15.5   15.55  15.6   15.65
  15.7 ]
LST [  9.37106748   9.42106748   9.47106748   9.52106748   9.57106748
   9.62106748   9.67106748   9.72106748   9.77106748   9.82106748
   9.87106748   9.92106748   9.97106748  10.02106748  10.07106748
  10.12106748  10.17106748  10.22106748  10.27106748  10.32106748
  10.37106748]
HRA [-0.68825292 -0.67516295 -0.66207298 -0.64898302 -0.63589305 -0.62280308
 -0.60971311 -0.59662314 -0.58353317 -0.5704432  -0.55735323 -0.54426326
 -0.53117329 -0.51808332 -0.50499335 -0.49190338 -0.47881341 -0.46572344
 -0.45263347 -0.43954351 -0.42645354]
e [ 51.28743602  52.02087456  52.75434891  53.48785528  54.22138974
  54.95494821  55.68852642  56.42211988  57.1557239   57.88933352
  58.62294348  59.35654818  60.09014168  60.82371758  61.557269
  62.29078854  63.02426813  63.75769901  64.49107159  65.22437531
  65.95759854]
L [ 0.64120893  0.62455926  0.60823831  0.59223132  0.57652431  0.561104
  0.54595778  0.53107366  0.51644022  0.50204662  0.48788248  0.47393795
  0.46020358  0.44667039  0.43332976  0.42017347  0.40719363  0.39438271
  0.38173346  0.36923897  0.35689258]
A [-88.69151864 -88.82737634 -88.96496885 -89.1044312  -89.24590864
 -89.38955773 -89.53554752 -89.684061   -89.83529661 -89.98947002
 -89.85318378 -89.69240823 -89.52792251 -89.35941849 -89.18655717
 -89.00896468 -88.82622743 -88.63788665 -88.44343186 -88.24229325
 -88.03383266]
AA [ 58.10776067  57.33775128  56.53193344  55.68737047  54.80076385
  53.86839012  52.88602307  51.84883661  50.75128198  49.58693059
  48.34826967  47.0264321   45.61083183  44.0886611   42.44417794
  40.65766493  38.70384913  36.54939251  34.14867147  31.43613773
  28.31105693]
x [ -1.46422129e-02  -1.27814272e-02  -1.09870459e-02  -9.25656836e-03
  -7.58763481e-03  -5.97801662e-03  -4.42560809e-03  -2.92841862e-03
  -1.48456554e-03  -9.22675289e-05  -1.25016159e-03  -2.54431846e-03
  -3.79171546e-03  -4.99378553e-03  -6.15188675e-03  -7.26730644e-03
  -8.34126511e-03  -9.37492003e-03  -1.03693686e-02  -1.13256515e-02
  -1.22447556e-02]
y [ 0.64104173  0.62442846  0.60813907  0.59215898  0.57647438  0.56107216
  0.54593984  0.53106558  0.51643809  0.50204661  0.48788088  0.47393112
  0.46018796  0.44664248  0.43328609  0.42011062  0.40710819  0.39427127
  0.3815926   0.36906523  0.35668246]
x0 [ 1.0365  1.0699  1.1038  1.1383  1.1732  1.2087  1.2448  1.2815  1.3189
  1.3568  1.3955  1.4349  1.4751  1.516   1.5577  1.6003  1.6438  1.6882
  1.7337  1.7801  1.8277]
y0 [ 0.4973  0.5029  0.5085  0.5142  0.5198  0.5255  0.5311  0.5368  0.5426
  0.5483  0.5541  0.5598  0.5657  0.5715  0.5774  0.5833  0.5892  0.5952
  0.6013  0.6074  0.6135]

29.857072574284057

In [575]:
ans=[]
Min=2000
MinXY=[]
for theta in np.arange(-10,10,1):
    for H in np.arange(0.3,3,0.7):
        for l in np.arange(0,180,2):
            for da in np.arange(0,90,2):
                a=XY(theta,H,l,da)
                if Min>a: 
                    Min=a
                    MinXY=[theta,H,l,da]
                #ans.append()

In [554]:
plt.plot(the)
plt.show()

In [576]:
Min

4.7716323691702991

In [577]:
MinXY

[9, 0.29999999999999999, 40, 88]

In [621]:
longitude=110
i=4

M=0.5
d=107
beijingTime=Time[i]
print "beijingTime=",beijingTime,";"
y=excel.y[i]
x=excel.x[i]
print "x=",x,";"
print "y=",y,";"


fai=ang(23.45*sin(2*pi/365.0*(284+d)))
print "fai=",fai,";"

LT=beijingTime+(longitude-120)*4/60.0
B=ang(360.0*(d-81.0)/365.0)
EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
TC=EOT/60
LST=LT+TC
HRA=ang(15*(LST-12))
print "HRA",HRA

X=M*sin(HRA)

A=3*pi/2.0-atan(y/x)
print "A=",A,";"

b=-tan(fai)
a=cos(HRA)

out=sin(HRA)*tan(A)/sqrt(a**2+b**2)
if out<-1 or out >1:
    dafaiA="error"
else:
    dafai=asin(out)-atan(b/a)
    dafaiA=rad(dafai)
    if dafaiA>90:
        dafaiA-=180
    elif dafaiA<-90:
        dafaiA+=180


h=np.arccos(np.sin(HRA)*cos(fai)/np.sin(A))

L=sqrt(x**2+y**2)
print "L=",L,";"
#tan(h)*L=tan(pi/2-dafai+fai)*0.4135

b=cos(fai)*np.cos(HRA)
a=sin(fai)

out=np.sin(h)/np.sqrt(a**2+b**2)
if out<-1 or out >1:
    dafaiB="error"
else:
    dafaiB=rad(asin(out)-atan(b/a))
#         if dafaiB>90 or dafaiB<-90:
#             dafaiB="error"
    if dafaiB>90:
        dafaiB-=180
    elif dafaiB<-90:
        dafaiB+=180

beijingTime= 14.9 ;
x= 1.1732 ;
y= 0.5198 ;
fai= 0.177126268838 ;
HRA 0.585837430439
A= 4.29531989637 ;
L= 1.28319533977 ;

# SE

In [621]:
longitude=110
i=4

M=0.5
d=107
beijingTime=Time[i]
print "beijingTime=",beijingTime,";"
y=excel.y[i]
x=excel.x[i]
print "x=",x,";"
print "y=",y,";"

fai=ang(23.45*sin(2*pi/365.0*(284+d)))
print "fai=",fai,";"

LT=beijingTime+(longitude-120)*4/60.0
B=ang(360.0*(d-81.0)/365.0)
EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
TC=EOT/60
LST=LT+TC
HRA=ang(15*(LST-12))
print "HRA",HRA

X=M*sin(HRA)

A=3*pi/2.0-atan(y/x)
print "A=",A,";"

b=-tan(fai)
a=cos(HRA)

out=sin(HRA)*tan(A)/sqrt(a**2+b**2)
if out<-1 or out >1:
    dafaiA="error"
else:
    dafai=asin(out)-atan(b/a)
    dafaiA=rad(dafai)
    if dafaiA>90:
        dafaiA-=180
    elif dafaiA<-90:
        dafaiA+=180


h=np.arccos(np.sin(HRA)*cos(fai)/np.sin(A))

L=sqrt(x**2+y**2)
print "L=",L,";"
#tan(h)*L=tan(pi/2-dafai+fai)*0.4135

b=cos(fai)*np.cos(HRA)
a=sin(fai)

out=np.sin(h)/np.sqrt(a**2+b**2)
if out<-1 or out >1:
    dafaiB="error"
else:
    dafaiB=rad(asin(out)-atan(b/a))
#         if dafaiB>90 or dafaiB<-90:
#             dafaiB="error"
    if dafaiB>90:
        dafaiB-=180
    elif dafaiB<-90:
        dafaiB+=180

beijingTime= 14.9 ;
x= 1.1732 ;
y= 0.5198 ;
fai= 0.177126268838 ;
HRA 0.585837430439
A= 4.29531989637 ;
L= 1.28319533977 ;

# real TWO

In [78]:
To=Time[0]
for i in range(0,21,1):

    x=excel.x[i]
    y=excel.y[i]
    L=x**2+y**2
    dAOB=ang((Time[i]-To)*15)
    fakeJing=ang(np.arange(-180,180))
    AOB=fakeJing+dAOB
    
    A=np.arctan(x/y)
    def f(x):
        return np.cos(x)/np.cos(np.arcsin(np.sqrt(1-(np.cos(x)**2+np.sin(AOB)**2))))-np.cos(A)
    BOC=optimize.fsolve(f,pi/4)
    
    AOC=np.arccos(np.cos(BOC)/np.cos(AOB))
    AOC=pi/2-AOC
    AOC[rad(AOC)>90]-=pi
    
    
    plt.plot(rad(AOC),rad(fakeJing))
    #dafai-fai , HRA*15
plt.show()

In [723]:
def xiang2jue(xWei,HRA,d=107):
    To=Time[0]
    B=ang(360.0*(d-81.0)/365.0)
    EOT=9.87*sin(2*B)-7.53*cos(B)-1.5*sin(B)
    TC=EOT/60
    LST=rad(ang(HRA/15.0))/15.0+12
    LT=LST-TC

    return xWei+23.45*sin(2*pi/365.0*(284+d)),(LT-To)*60.0/4.0+120

In [725]:
xiang2jue(45,-7.5)

(55.14858764530759, 78.93398775506755)

### yanzheng

In [24]:
ang(55.14858764530759)

0.9625244322352842

In [19]:
ang(23.45*sin(2*pi/365.0*(284+107)))

0.17712626883783594

In [25]:
np.tan(np.arcsin(np.sin(0.17712626883783594)*np.sin(0.9625244322352842)+np.cos(0.17712626883783594)*np.cos(0.9625244322352842)*np.cos(-0.1308996938995747)))

0.98652571931906896

# real THREE

In [82]:
To=Time[0]
dayAns=[]
for i in range(0,21,1):
    
    #longitude=ang(np.arange(-180,180))
    #dafai=ang(np.arange(20,70,5))
    
    x=excel.x[i]
    y=excel.y[i]
    L=x**2+y**2
    dAOB=ang((Time[i]-To)*15)
    fakeJing=ang(np.arange(-180,180,0.1))
    AOB=fakeJing+dAOB

    
    A=np.arctan(x/y)
    def f(x):
        return np.cos(x)/np.cos(np.arcsin(np.sqrt(1-(np.cos(x)**2+np.sin(AOB)**2))))-np.cos(A)
    BOC=optimize.fsolve(f,3*pi/4)
    
    cose=np.cos(BOC)/np.cos(A)
    
    fai=np.arccos(cose*np.sin(-A)/np.sin(rad(fakeJing)))
                  
    #fai=ang(23.45*sin(2*pi/365.0*(284+d)))
    
    d=np.arcsin(rad(fai)/23.45)/2/pi*365-284
    dayAns.append(d[pd.Series(d).notnull()])
    H=L*np.tan(e)
    
    AOC=np.arccos(np.cos(BOC)/np.cos(AOB))
    AOC=pi/2-AOC
    AOC[rad(AOC)>90]-=pi
    #print cose
    print "d",d

#plt.show()

d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]
d [ nan  nan  nan ...,  nan  nan  nan]

C:\Program Files\Anaconda\lib\site-packages\IPython\kernel\__main__.py:28: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index

In [83]:
dayAns

[array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan]),
 array([ nan,  nan,  nan, ...,  nan,  nan,  nan])]

In [86]:
d[pd.Series(d).notnull()]
#d2[d2.notnull()]

C:\Program Files\Anaconda\lib\site-packages\IPython\kernel\__main__.py:1: FutureWarning: in the future, boolean array-likes will be handled as a boolean array index
  if __name__ == '__main__':

array([ nan,  nan,  nan, ...,  nan,  nan,  nan])

In [58]:
334-180

154

In [59]:
207-180

27

In [40]:
cos(BOC)

0.7071067811865328

In [33]:
cos(A)

0.3182188545438451

In [587]:
xls=pd.ExcelFile("data.xlsx")
s2=xls.parse('Sheet2')
s2

        time       x       y
0   12:41:00 -1.2352  0.1730
1   12:44:00 -1.2081  0.1890
2   12:47:00 -1.1813  0.2048
3   12:50:00 -1.1546  0.2203
4   12:53:00 -1.1281  0.2356
5   12:56:00 -1.1018  0.2505
6   12:59:00 -1.0756  0.2653
7   13:02:00 -1.0496  0.2798
8   13:05:00 -1.0237  0.2940
9   13:08:00 -0.9980  0.3080
10  13:11:00 -0.9724  0.3218
11  13:14:00 -0.9470  0.3354
12  13:17:00 -0.9217  0.3488
13  13:20:00 -0.8965  0.3619
14  13:23:00 -0.8714  0.3748
15  13:26:00 -0.8464  0.3876
16  13:29:00 -0.8215  0.4001
17  13:32:00 -0.7967  0.4124
18  13:35:00 -0.7719  0.4246
19  13:38:00 -0.7473  0.4366
20  13:41:00 -0.7227  0.4484

In [588]:
s3=xls.parse('Sheet3')
s3

        time       x       y
0   13:09:00  1.1637  3.3360
1   13:12:00  1.2212  3.3299
2   13:15:00  1.2791  3.3242
3   13:18:00  1.3373  3.3188
4   13:21:00  1.3960  3.3137
5   13:24:00  1.4552  3.3091
6   13:27:00  1.5148  3.3048
7   13:30:00  1.5750  3.3007
8   13:33:00  1.6357  3.2971
9   13:36:00  1.6970  3.2937
10  13:39:00  1.7589  3.2907
11  13:42:00  1.8215  3.2881
12  13:45:00  1.8848  3.2859
13  13:48:00  1.9488  3.2840
14  13:51:00  2.0136  3.2824
15  13:54:00  2.0792  3.2813
16  13:57:00  2.1457  3.2805
17  14:00:00  2.2131  3.2801
18  14:03:00  2.2815  3.2801
19  14:06:00  2.3508  3.2804
20  14:09:00  2.4213  3.2812

In [590]:
plt.scatter(s2.x,s2.y)
plt.show()

In [592]:
plt.scatter(s3.x,s3.y)
plt.show()

In [602]:
np.array(s3.x)

array([ 1.1637,  1.2212,  1.2791,  1.3373,  1.396 ,  1.4552,  1.5148,
        1.575 ,  1.6357,  1.697 ,  1.7589,  1.8215,  1.8848,  1.9488,
        2.0136,  2.0792,  2.1457,  2.2131,  2.2815,  2.3508,  2.4213])

In [633]:
import numpy.linalg as lg

In [644]:
shadow*lg.inv(T)

matrix([[-2.073     , -0.9946    , -1.14962583,  1.        ]])